* {
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;
    
}

header, nav, h1 {
    position: fixed;
    top: 0px;
    height:50 px;
    width:100%;
    background-color: aquamarine;
    margin: 0;
    padding: 5px;  

}
.nav-bar {
    position: relative;
    left: 70%;
}
h2 {
    margin: 20px 10px;
}
a {
    background-color: aquamarine;
    position:relative;
    right: auto;
}

 .section-one {
     height: 600px;
     width: 100%;
    background-color: brown;
    text-align: center;
    align-items: center;
    border: red solid 10px;
    margin-top: 30px;
}

.section-one img {
    border: greenyellow solid 10px;
}

.section-two {
    height: 300px;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
    border: red solid 10px;
}
footer {
    height: 50px;
    background-color: black;
    border: red solid 10px;
    text-align: center;
    color: antiquewhite;
}